// Header

header {
  width: 100%;
  height: 15vh;
  background-color: $color-principal;  
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  div.Logo_header {
    width: 20vw;
    text-align: center;

    img {
      width: 75%;
    }
  }

  div.Menu_header {
    width: 55vw;
    font-weight: bold;
    font-size: medium;
    display: flex;
    justify-content: center;
    column-gap: 40px;

    a {
      color: aliceblue;
      text-decoration: none;
    }

  }

  div.Registro_header {
    width: 25vw;
    font-weight: bold;
    font-size: medium;
    display: flex;
    justify-content: center;
    column-gap: 15px;
    align-items: center;

    a {
      color: aliceblue;
      text-decoration: none;
    }
    
    a.boton {
      padding: 10px 25px;
      background: $color-secundario;
      color: black;
      font-weight: bold;
      font-size: medium;
      border: none;
      border-radius: 5px;
    }

  }

}