// Campeones

.campeones__marco {
    display: flex;
    position: absolute;
    top: 20%;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    align-items: center;

    .campeones__header {
        display: flex;
        align-items: center;
        gap: 10px;
        
        .campeones__titulo {
            position: relative;
            background-color: $color-secundario-oscuro;
            border: 5px solid $color-principal-oscuro;
            border-radius: 20px;
            width: 300px;
        }

        .campeones__contador {
            position: relative;
            background-color: $color-secundario-oscuro;
            border: 5px solid $color-principal-oscuro;
            border-radius: 20px;
            width: 500px;
        }
    }

    .campeones__tabla {
        background-color: $color-secundario-oscuro;
        border: 5px solid $color-principal-oscuro;
        border-radius: 20px;
        width: 80%;
        height: 100%;

        .tabla {
            width: 100%;
            height: 100%;
            padding: 5%;

            .tabla__head {
                font-size: large;
            }
            .jungla {
                background: #99ff99;
            }

            .medio {
                background: #ffff99;
            }

            .superior {
                background: #ff6666;
            }

            .tirador {
                background: #80b3ff;
            }
        }
    }
}

@media (max-width: 1000px) {
    .campeones__header {
        flex-direction: column;
    }
    
    .tabla {
        font-size: small;
    }
}