// Desafios

.desafios__marco {
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
     
    .desafios__titulo {
        width: 300px;
        background-color: $color-secundario-oscuro;
        border: 5px solid $color-principal-oscuro;
        border-radius: 20px;
        position: relative;
        left: 10%;
    }

    .desafios__scroll {
        display: flex;
        gap: 3%;
        justify-content: center;
        align-items: center;

        .desafios__targeta {
            position: relative;
            background-color: $color-secundario-oscuro;
            border: 5px solid $color-principal-oscuro;
            border-radius: 20px;
            width: 20%;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            .desafios__targeta-desafio {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                .desafio {
                    width: 60%;
                }

                .progreso {
                    width: 40%;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .desafios__scroll {
        flex-direction: column;
    }
}