// Registro

div.Targeta {
    width: inherit;
    position: absolute;
    z-index: 1;
    top: 23%;
    display: flex;
    justify-content: center;

    div.Fondo_targeta{
        width: 45vw;
        height: 80vh;
        background-color: $color-secundario-oscuro;
        border: 5px solid $color-principal-oscuro;
        border-radius: 20px;

        div.Inicio_sesion{
            
            h1 {
                padding-top: 40px;
            }

            div.Campos {
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                row-gap: 5px;
                font-weight: bold;
                align-items: center
            }

            div.Botones {
                height: 100px;
                text-align: center;
                padding-top: 70px;
    
                a.inicio_sesion {
                    padding: 10px 25px;
                    background: $color-principal;
                    color: aliceblue;
                    text-decoration: none;
                    border-radius: 5px;
                }
    
                a.registrarse {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    padding-top: 35px;
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        div.Registro {
            
            div.Campos {
                font-weight: bold;
                text-align: left;
                display: flex;
                justify-content: center;
            }

            div.Botones {
                height: 100px;
                text-align: center;
                padding-top: 40px;
    
                a.registrarse {
                    padding: 10px 25px;
                    background: $color-principal;
                    color: aliceblue;
                    text-decoration: none;
                    border-radius: 5px;
                }
    
                a.inicio_sesion {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    padding-top: 35px;
                    display: flex;
                    flex-direction: column;
                }
            }

        }
    }
}
