// Registro

.targeta {
    width: inherit;
    position: absolute;
    z-index: 1;
    top: 23%;
    display: flex;
    justify-content: center;
    perspective: 2000px;

    .inicio_sesion {
        width: 625px;
        height: 500px;
        background-color: $color-secundario-oscuro;
        border: 5px solid $color-principal-oscuro;
        border-radius: 20px;
        position: absolute;
        transform-style: preserve-3d;

        .button {
            background: $color-principal;
            color: aliceblue;
        }

        .targeta__link {
            text-decoration: none;
            color: black;
            font-weight: bold;
            padding-top: 35px;
            display: flex;
            flex-direction: column;
        }
    }

    .registro {
        width: 625px;
        height: 500px;
        background-color: $color-secundario-oscuro;
        border: 5px solid $color-principal-oscuro;
        border-radius: 20px;
        position: absolute;
        transform-style: preserve-3d;
        transform: rotate3d(180deg);
        backface-visibility: hidden;

        .button {
            background: $color-principal;
            color: aliceblue;
        }

        .registro__link {
            text-decoration: none;
            color: black;
            font-weight: bold;
            padding-top: 35px;
            display: flex;
            flex-direction: column;
        }
    }
}
